version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly 
    time: "04:00"
  open-pull-requests-limit: 10
  reviewers:
  - Gerg-L
  assignees:
  - Gerg-L
